[submodule "microservices/PostService"]
	path = microservices/PostService
	url = git@github.com:LucasLopes777/PostService.git
[submodule "microservices/TextProcessorService"]
	path = microservices/TextProcessorService
	url = git@github.com:LucasLopes777/TextProcessorService.git
[submodule "microservices/algaPosts"]
	path = microservices/algaPosts
	url = git@github.com:LucasLopes777/AlgaPosts-meta.git
